<h3>Primera vista</h3>
<form id="form">
    {{!-- Nombre: <input type="text" name="name" id="name"> --}}
    Precio: <input type="number" name="price" id="price">
    <input type="submit" value="Enviar">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

